{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}


    {{ form_start(registrationForm) }}
<div class="container register-form">
         <h1>REGISTRATION</h1>
 <div class="form">
    <div class="form-content">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form_row(registrationForm.name,{'label':'Name','attr':{'placeholder':'Enter You\'re Name'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(registrationForm.email,{'label':'Email','attr':{'placeholder':'Enter You\'re Email'}}) }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                            {{ form_row(registrationForm.plainPassword,{'label':'Password','attr':{'placeholder':'Enter You\'re Password'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_row(registrationForm.confirm_password,{'label':'Confirm Password','attr':{'placeholder':'Repeate You\'re Password '}}) }}
                        </div>
                         
                           {% if not is_granted('ROLE_ADMIN') %}
                           
                                 <div class="form-group">
                                     {{ form_row(registrationForm.roles,{'label':' '} )}}
                                </div>        
                             {% endif %}
                    </div>
                   
                </div>
            </div>
        </div>
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn btn-success">Register</button>
    {{ form_end(registrationForm) }}
</div>
{% endblock %}


