{% extends "base.html.twig" %}

{% block title %}{% endblock %}

{% block stylesheets %}

    <style>
    
    </style>

{% endblock %}

{% block body %}

<div class="container">
    {%  if not app.flashes('notice') %}
<div class="show">

    {% if Categorie %}
    <div class="form">

     <h1>Questions in {{ Categorie }}</h1>

    </div>
    <br>
        <h3> {{ Questions.question }} <h3>
    <hr>

    {% endif %}

    <div>

    {% if Questions %}
    
     <form method ="POST" action="/show/{{Categorie.id}}/{{Questions.id}}">

        {% for reponse in Questions.Reponses  %}

            <h5>
               <input type="radio" name="reponse" value ='{{reponse.id}}'> {{reponse}} </input>
            <h5>

            <hr>

    {% endfor %}
    <div>
    {# {% for key, question in Categorie %}
    {{ dump(key) }}
    {% endfor %} #}
        <button type="submit" class="btn btn-success">
                Check
        </button>
     
    </div>
        </form>

    {% endif %}

    </div>
        {% set q_id = Questions.id + 1 %}

       <a href = "/show/{{Categorie.id}}/{{q_id}}">
        <button type="submit" class="btn btn-primary pull-right">
             NEXT
        </button>

        </a>

</div>

</div>

{% else %}

   {# {% for message in app.flashes('notice') %} #}
    <div class="alert alert-danger">
    <h2>  There is no more questions!</h2>
    </div>
    {# {% endfor %} #}



{% endif %}

{% endblock %}