{% extends "base.html.twig" %}

{% block title %}{% endblock %}

{% block stylesheets %}

    <style>
    
    </style>

{% endblock %}

{% block body %}

<div class="container">

    {% if Categorie %}
    {# {% if Questions[0] is defined %} #}

    <div class="form">

     <h1>Questions from {{ Categorie }}</h1>

    </div>
    {# {% for question in Questions %} #}
        {# {% set firstId = Questions[0].id %} #}

    <h5> {{ Qus.question }} <h5>

    {# {{dump(Categorie.questions[Qus.id]) }} #}
    {# {{dump(Qus.id) }} #}


    <hr>
    {# {{dump(Questions)}} #}

    {# {% endfor %} #}

    {% endif %}
    <div>
    {% if Qus %}

        {% for reponse in Qus.Reponses  %}

            <h5>{{reponse}}<h5>

            <hr>
    {% endfor %}

    {% endif %}
    </div>

    <div>
    {% set q_id = Qus.id + 1 %}
    {# {% for key, question in Categorie %}
    {{ dump(key) }}
    {% endfor %} #}
    <a href = "/show/{{Categorie.id}}/{{q_id}}">
        <button type="submit" class="btn btn-primary">
             NEXT
        </button>

    </a>
     
    </div>

</div>


{% endblock %}