{% extends 'base.html.twig' %}

{% block title %}Hello QuizController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    {{ form_start(quizForm)}}

    {{form_row(quizForm.name,{'label':' NEW QUIZ NAME'})}}

    {# {{form_row(quizForm.Questions,{'label':'Add Questions '})}} #}

    {# {{ form_row(orderForm.customerId.vars.prototype}) }} #}



    <button type="submit" class="btn btn-success">Register</button>
    </div>

    {{ form_end(quizForm)}}


{% endblock %}
